<!DOCTYPE html>
html(lang="en")
    head
        title page
        link(rel="stylesheet", href="/css/main.css")
    body
img(src="https://img.freepik.com/vecteurs-libre/modele-fond-informations-contact-dessines-main_23-2148189661.jpg?w=2000", alt="image")
h1 contact: 75 658 585
   
                