<!DOCTYPE html>
html(lang="en")
    head
        title page
        link(rel="stylesheet", href="/css/main.css")
    body
        nav
            ul
                li
                    a(href="/") home
                li
                    a(href="/contactus") contactus
                li
                    a(href="/services") services
     
                   li
                    a(href="/offinepage") offinepage
        block content